{
	"env": {
		"browser": true
	},
	"parser": "babel-eslint",
	"extends": [
		"airbnb",
		"plugin:import/errors",
		"plugin:import/warnings",
		"plugin:jsx-a11y/recommended",
		"plugin:sonarjs/recommended",
		"plugin:promise/recommended",
		"prettier"
	],
	"plugins": ["react", "jsx-a11y", "optimize-regex", "sonarjs", "no-loops", "no-use-extend-native", "promise", "prettier"],
	"rules": {
		"prettier/prettier": 1,
		"import/no-extraneous-dependencies": [
			"error",
			{
				"packageDir": "./"
			}
		],
		"indent": ["error", 2, {"SwitchCase": 1}],
		"jsx-a11y/click-events-have-key-events": "off",
		"jsx-a11y/media-has-caption": "off",
		"react/jsx-props-no-spreading": "off",
		"no-bitwise": "off",
		"no-loops/no-loops": 2,
		"no-nested-ternary": "off",
		"no-plusplus": "off",
		"no-underscore-dangle": "off",
		"no-unused-expressions": ["error", { "allowShortCircuit": true }],
		"no-use-extend-native/no-use-extend-native": 2,
		"optimize-regex/optimize-regex": "warn",
		"radix": "off",
		"react/destructuring-assignment": "off",
		"react/jsx-filename-extension": "off",
		"react/require-default-props": "off",
		"sonarjs/cognitive-complexity": ["error", 30],
	},
	"settings": {
		"import/resolver": {
			"node": {
				"paths": ["src"]
			}
		}
	}
}
